<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
<head>
	<title>Adhesives Information Page</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<br>
			<img src="../images/logo.png" class="image">
			<li>
				
				<a href="homepage.html">Home</a>
				<a href="profile.html">Profile</a>
				<a href="applications.html">Applications</a>
				<a href="adhesives.html">Adhesive</a>
				<a href="careers.html">Careers</a>
				<a href="contactus.html">Contact Us</a>
			</li>
		</ul>
	</div>
	<div class="heading">
		<p><h1><font color="blue"><center> Adhesive Product Details </center></font></h1></p>
		<p style="font-family: verdana;">CA Glue and various Parson Adhesive products find application in Glass Bonding, Sign and Display Assembly, Plastic and Composite Fabrication, Wood Bonding and Pipe Sealants. </p>
	</div>
	<div class="products">
		<table cellpadding="8">
			<tr>
				<td>
					<table>
						<tr>
							<td><img src="../images/icon-sonlok.jpg"></td>
							<td style="background-color: #ccc;"><a href="#">SONLOK <img src="../images/copyright.jpg" height="15" width="15"><br>High Performance Anaerobic Adheives</a></td>
						</tr>
					</table>
				</td>
				<td>
					<table>
					
						<tr>
							<td><img src="../images/icon-parlite.jpg"></td>
							<td style="background-color: #ccc;width: 240px"><a href="#">PARLITE <img src="../images/copyright.jpg" height="15" width="15"><br>UV Curable Devices</a></td>
						</tr>
						
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td><img src="../images/icon-partite.jpg"></td>
							<td style="background-color: #ccc;width: 240px"><a href="#">PARTITE <img src="../images/copyright.jpg" height="15" width="15"><br>Adhesives for Composite and Metal Bonding </a></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<p>
						SONLOK® pre-applied to threaded parts from a unique coating that converts ordinary fasteners into self-locking and self-sealing fasteners. Dry to touch, SONLOK Pre-Applied threadlocker become an integral part of the fastener-and stay inert until parts are used. During the assembly process, SONLOK Pre-Applied is activated by assembly forces, releasing anaerobic adhesive which locks and seals parts securely. Use SONLOK Pre-Applied products successfully, without solvents, in extreme temperature and pressure environments to lock and seal against air, steam, most fluids and lubricants. 
					</p>
				</td>
				<td>
					<p>
						Parson offers complete line of UV and Visible light curing adhesives for wide variety of applications for bonding, encapsulating, coating, tacking and sealing. Parson’s state-of-the-art research and development facility offers custom formulations to meet customer’s specifications. Our chemists and engineers work with customers to solve their bonding, curing and performance issues. These products are available in wide variety of packing such as syringe, bottle and drum.
					</p>
				</td>	
				<td>
					<p>
						Parson offers full line of high performance two parts methacrylate structural adhesives for wide variety of applications. Methyl Methacrylate Adhesives are commonly used as structural adhesives due to their excellent strength, impact resistance, thermal shock, fatigue resistance and peel strength. They are based on thermoset adhesives formulations that give excellent structural properties to bond a wide - variety of durable substrates. 
					</p>
				</td>
			</tr>
		</table>
	</div>

	<div class="product2" >
		<table cellpadding="8">
			<tr>
				<td>
					<table>
						<tr>
							<td><img src="../images/icon-parfix.jpg"></td>
							<td style="background-color: #ccc;width: 240px"><a href="#">PARFIX <img src="../images/tm.png" height="15" width="15"> <br>Cyanoacrylate Adhesives</a></td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td><img src="../images/icon-parbond.jpg"></td>
							<td style="background-color: #ccc;width: 240px;"><a href="#">PARBOND <img src="../images/Copyright.jpg" height="15" width="15"> <br>Epoxy Adhesives</a></td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td><img src="../images/icon-parbond-polyurethane.jpg"></td>
							<td style="background-color: #ccc;width: 240px;"><a href="#">PARBOND <img src="../images/copyright.jpg" height="15" width="15"> <br>Polyurethane Adhesives</a></td>
						</tr>
					</table>
				</td>

			</tr>
			<tr>
				<td>
					<p>
						Parson offers complete line of Accelerators, Primers and De-bonder for Cyanoacrylate adhesives. PARFIX accelerators are designed to increase the cure speed and gap-filling capabilities of Cyanoacrylate adhesives.</p><p>The surface properties of some materials are acidic or contain very low moisture content which slow down the curing of cyanoacrylate adhesives.
					</p>
				</td>
				<td>
					<p>
						Parson produce complete line of two part epoxy adhesives for structural bonding, potting, and encapsulating applications.
					</p>
				</td>
				<td>
					<p>
						PARBOND Polyurethane Adhesivesfrom Parson Adhesives are primarily used for automotive applications and industrial applications, mainly for repair and maintenance work. 
					</p>
				</td>
			</tr>
		</table>
	</div>
	<hr style="background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);height: 5px;width: 100%;margin-bottom: 0px;">
	<div class="container2">
		<div class="footer">
		 	<p>Parson Adhesives, Inc.
			3345 Auburn Road, Suite 107, Rochester, MI 48309 USA
			Phone: 248-299-5585 Fax: 248-299-3846 Email: sales@parsonadhesives.com

			© Copyright. Parson Adhesives, Inc. All rights reserved.</p>
		</div>

		<div class="footer-images">
			<img src="../images/chromalok-footer-banner.png">
		</div>

		<div class="inquiry">
			<p>For Product inquiries Contact:<h1>(0265)-2908751</h1> <h2><font color="red">sales@parsonadhesives.com</font></h2></p>
		</div>
	</div>
</body>
</html>