<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
<head>
	<title>Applications of Parson Adhesives</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<br>
			<img src="../images/logo.png" class="image"> 
			<li>
				
				<a href="homepage.html">Home</a>
				<a href="profile.html">Profile</a>
				<a href="applications.html">Applications</a>
				<a href="adhesives.html">Adhesive</a>
				<a href="careers.html">Careers</a>
				<a href="contactus.html">Contact Us</a>
			</li>
		</ul>
	</div>

	<div class="application-content">
		<h1><font color="blue">Application Areas</font></h1>
		<table cellpadding="50">
			<tr>
				<td><a href="#" style="text-decoration: none;color: red;font-family: sans-serif;"><img src="../images/glass-bonding.jpg"><br>Glass Bonding</a></td>
				<td><a href="#" style="text-decoration: none;color:red;font-family: sans-serif;"><img src="../images/sign-display-assembly.jpg"><br>Sign Display Assembly</a></td>
				<td><a href="#" style="text-decoration: none;color: red;font-family: sans-serif;"><img src="../images/plastic-composite-fabrication.jpg"><br>Plastic Composite Fabrication</a></td>
				<td><a href="#" style="text-decoration: none;color: red;font-family: sans-serif;"><img src="../images/wood-bonding.jpg"><br>Wood Bonding</a></td>
			</tr>

			<tr>
				<td><a href="#" style="text-decoration: none;color: red;font-family: sans-serif;"><img src="../images/pipe-sealant-fire-sprinkler-systems.jpg"><br>Pipe Sealant Fire<br> Sprinkler Systems</a></td>
				<td><a href="#" style="text-decoration: none;color:red;font-family: sans-serif;"><img src="../images/engineering-adhesives.jpg"><br>Engineering Adhesives</a></td>
				<td><a href="#" style="text-decoration: none;color: red;font-family: sans-serif;"><img src="../images/structural-adhesives.jpg"><br>Structural Adhesives</a></td>
				<td><a href="#" style="text-decoration: none;color: red;font-family: sans-serif;"><img src="../images/electronic-assembly.jpg"><br>Adhesives for Electronic Assembly</a></td>
			</tr>
		</table>

	</div>
	
	<table style="background-color: #ccc;font-family: verdana;" height="150">
			<tr>
				<td>
					<a href="#" style="color: red;text-decoration: none;">SONLOK <img src="../images/copyright.jpg" height="15" width="15"><br>High Performance Anaerobic Adhesives</a>
				</td>
				<td>
					<a href="#" style="color: red;text-decoration: none;">PARTITE <img src="../images/copyright.jpg" height="15" width="15"><br>Adhesives for Composite & Metal Bonding</a>
				</td>
				<td>
					<a href="#" style="color: red;text-decoration: none;">PARLITE <img src="../images/copyright.jpg" height="15" width="15"><br>UltraViolet Curable Adhesives</a>
				</td>
				<td>
					<a href="#" style="color: red;text-decoration: none;">PARFIX <img src="../images/tm.png" height="15" width="15"><br>Cyanoacrylate Adhesives</a>
				</td>
				<td>
					<a href="#" style="color: red;text-decoration: none;">PARBOND <img src="../images/copyright.jpg" height="15" width="15"><br>Epoxy Adhesives</a>
				</td>
				<td>
					<a href="#" style="color: red;text-decoration: none;">PARFIX <img src="../images/copyright.jpg" height="15" width="15"><br>Eyelash Adhesives</a>
				</td>
			</tr>
	</table>
	


	<hr style="background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);height: 5px;width: 100%;margin-bottom: 0px;">
	<div class="container2">
		<div class="footer">
		 	<p>Parson Adhesives, Inc.
			3345 Auburn Road, Suite 107, Rochester, MI 48309 USA
			Phone: 248-299-5585 Fax: 248-299-3846 Email: sales@parsonadhesives.com

			© Copyright. Parson Adhesives, Inc. All rights reserved.</p>
		</div>

		<div class="footer-images">
			<img src="../images/chromalok-footer-banner.png">
		</div>

		<div class="inquiry">
			<p>For Product inquiries Contact:<h1>(0265)-2908751</h1> <h2><font color="red">sales@parsonadhesives.com</font></h2></p>
		</div>
	</div>
</body>
</html>