<!DOCTYPE HTML>
<html>
<head>
	<title>Career in Parson Adhesives</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<br>
			<img src="../images/logo.png" class="image"> 
			<li>
				
				<a href="homepage.html">Home</a>
				<a href="profile.html">Profile</a>
				<a href="applications.html">Applications</a>
				<a href="adhesives.html">Adhesive</a>
				<a href="careers.html">Careers</a>
				<a href="contactus.html">Contact Us</a>
			</li>
		</ul>
	</div>

	<div class="container">
		<div class="career-content">
			<table  cellpadding="8">
				<tr>
					<td>
						<table>
							<tr>
								<td><img src="../images/icon-sonlok.jpg"></td>
								<td style="background-color: #ccc;"><a href="#">SONLOK <img src="../images/copyright.jpg" height="15" width="15"><br>High Performance Anaerobic Adheives</a></td>
							</tr>
							<tr>
								<td><img src="../images/icon-parlite.jpg"></td>
								<td style="background-color: #ccc;width: 240px"><a href="#">PARLITE <img src="../images/copyright.jpg" height="15" width="15"><br>UV Curable Devices</a></td>
							</tr>
							<tr>
								<td><img src="../images/icon-partite.jpg"></td>
								<td style="background-color: #ccc;width: 240px"><a href="#">PARTITE <img src="../images/copyright.jpg" height="15" width="15"><br>Adhesives for Composite and Metal Bonding </a></td>
							</tr>
							<tr>
								<td><img src="../images/icon-parfix.jpg"></td>
								<td style="background-color: #ccc;width: 240px"><a href="#">PARFIX <img src="../images/tm.png" height="15" width="15"> <br>Cyanoacrylate Adhesives</a></td>
							</tr>
							<tr>
								<td><img src="../images/icon-parbond.jpg"></td>
								<td style="background-color: #ccc;width: 240px;"><a href="#">PARBOND <img src="../images/Copyright.jpg" height="15" width="15"> <br>Epoxy Adhesives</a></td>
							</tr>
							<tr>
								<td><img src="../images/icon-parbond-polyurethane.jpg"></td>
								<td style="background-color: #ccc;width: 240px;"><a href="#">PARBOND <img src="../images/copyright.jpg" height="15" width="15"> <br>Polyurethane Adhesives</a></td>
							</tr>
						</table>
					</td>
					<td style="background-color: #fff;">
						<p>
							<h1><font color="blue">CAREERS</font></h1>
							<h2 style="border: 10px blue solid;box-sizing: border-box;background-color: blue;color: #fff;">Research Chemist</h2>
							<p style="font-family: sans-serif;line-height: 1.6em;">
								

								<font color="red" size="5">Job Function</font><br>Design and develop new engineering acrylic adhesives and sealants; research, analyze and design acrylic oligomers and polymers sfor use in design of new adhesives; perform chemical, physical and environmental testing of adhesives during product design and development; prepare product submissions and perform trial productions for new products; prepare raw material specification files and material safety data sheet; provide technical analysis for production, sales and marketing; provide technical support to customers. <br>

								<font color="red" size="5">Job duties also require use of the following tools</font> <br>

								Oligomer and Polymer synthesis, viscosity measurements, Tensile Testing Machine, Torque measurements, TA instruments and FTIR.

								<font color="red" size="5">Qualifications</font><br>

								MS (or PhD) in Chemistry with 7 years related exp. (3 years with PhD).To apply, send in your resume to <font color="red">sales@parsonadhesives.com</font>

							</p>

						</p>
					</td>
				</tr>
			</table>

			
		</div>
	</div>
	<hr style="background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);height: 5px;width: 100%;margin-bottom: 0px;">
	<div class="container2">
		<div class="footer">
		 	<p>Parson Adhesives, Inc.
			3345 Auburn Road, Suite 107, Rochester, MI 48309 USA
			Phone: 248-299-5585 Fax: 248-299-3846 Email: sales@parsonadhesives.com

			© Copyright. Parson Adhesives, Inc. All rights reserved.</p>
		</div>

		<div class="footer-images">
			<img src="../images/chromalok-footer-banner.png">
		</div>

		<div class="inquiry">
			<p>For Product inquiries Contact:<h1>(0265)-2908751</h1> <h2><font color="red">sales@parsonadhesives.com</font></h2></p>
		</div>
	</div>
</body>
</html>