<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
<head>
	<title>Contact Us Page</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<br>
			<img src="../images/logo.png" class="image"> 
			<li>
				
				<a href="homepage.html">Home</a>
				<a href="profile.html">Profile</a>
				<a href="applications.html">Applications</a>
				<a href="adhesives.html">Adhesive</a>
				<a href="careers.html">Careers</a>
				<a href="contactus.html">Contact Us</a>
			</li>
		</ul>
	</div>
	<h2 style="font-family: sans-serif;margin-left: 30px;"><font color="blue">CONTACT US</font></h2>
			
		<div class="contact-content">
		<table cellpadding="45">
			<tr>
				<td>
					<table>
						<tr>
							<td>
								<font style="font-family: sans-serif;" size="5">Parson Adhesives,Inc</font>
							</td>
						</tr>
						<tr>
							<td><img src="../images/address.png" height="35" width="35"> 3345 Auburn Road, Suite 107, Rochester, MI 48309 USA</td>

						</tr>
						<tr>
							<td><hr></td>
						</tr>
						<tr>
							<td><img src="../images/mobile.png" height="35" width="35">
							248-299-5585</td>
						</tr>
						<tr>
							<td><hr></td>
						</tr>
						<tr>
							<td><img src="../images/telephone.png" height="75" width="75">248-299-3846</td>
						</tr>
						<tr>
							<td><hr></td>
						</tr>
						<tr>
							<td><img src="../images/mail.jpg" height="35" width="35">
							<font color="red">sales@parsonadhesives.com</font></td>
						</tr>
						<tr>
							<td></td>
						</tr>
						<tr>
							<td></td>
						</tr>
						<tr>
							<td></td>
						</tr>
						<tr colspan="2">
							<td><font style="font-family: sans-serif;" size="5">Our India Office</font></td>
						</tr>
						<tr colspan="2">
							<td><hr></td>
						</tr>
						<tr colspan="2">
							<td><font style="font-family: sans-serif;" size="4">Parson Adhesives India Private Limited</font></td>

						</tr>
						
						<tr>
							<td><img src="../images/address.png" height="35" width="35"> SF-4, Tower-A, Signet Plaza,<br>Kunal Cross Road, Gotri, Vadodara-390021, Gujarat, India.</td>

						</tr>
						<tr>
							<td><hr></td>
						</tr>
						<tr>
							<td><img src="../images/mobile.png" height="35" width="35"> 
						+91-9428511765 </td>
						</tr>
						<tr>
							<td><hr></td>
						</tr>
						<tr>
							<td><img src="../images/telephone.png" height="75" width="75">
							+91-265-6541638 / 265-2972191 </td>
						</tr>
						<tr>
							<td><hr></td>
						</tr>
						<tr>
							<td><img src="../images/mail.jpg" height="35" width="35">
							<font color="red">sales@parsonadhesives.com</font></td>
						</tr>
						<tr>
							<td><hr></td>
						</tr>
					</table>
				</td>
				<td>
					<form>
						Enqiry form<br>
						Please fill in the form below to send us your enquiry details.
						Fields marked * are mandatory. <br>
						<table>
							<tr>
								<td><label>Contact Person</label></td>
								<td><input type="text" name="contactperson"></td>
							</tr>
							<tr>
								<td><label>Company Name</label></td>
								<td><input type="text" name="cmpname"></td>
							</tr>
							<tr>
								<td><label>Address</label></td>
								<td><textarea></textarea></td>
							</tr>
							<tr>
								<td><label>Phone</label> </td>
								<td><input type="text" name="phoneno"></td> 
							<tr>
							<tr>
								<td><label>Email</label></td>
								<td><input type="text" name="email"></td>
							</tr>
							<tr>
								<td><label>Product of your interest</label></td>
								<td><input type="checkbox" name="#">PARTITE Acrylic & methacrylic adhesives</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<input type="checkbox" name="#">PARFIX Cyanoacrylate Adhesives<br>
									<input type="checkbox" name="#">SONLOK anaerobic adhesives<br>
									<input type="checkbox" name="#">PARLITE UV Curable Adhesives<br>
									<input type="checkbox" name="#">PARBOND Epoxy Adhesives<br>
									<input type="checkbox" name="#">Others<br>
								</td>
						
							</tr>
							<tr>
								<td><label>Details of your Enquiry</label></td>
								<td><textarea></textarea></td>
							</tr>
						</table>
						<center><input type="submit" value="SUBMIT" style="background-color: blue;color: #fff;width: 100px;height: 30px;"><input type="reset" name="reset" value="RESET" style="background-color: blue;color: #fff;width: 100px;height: 30px;">
						</center>
					</form>
				</td>
			</tr>
		</table>
		</div>
		<hr style="background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);height: 5px;width: 100%;margin-bottom: 0px;">
		<div class="container2">
		<div class="footer">
		 	<p>Parson Adhesives, Inc.
			3345 Auburn Road, Suite 107, Rochester, MI 48309 USA
			Phone: 248-299-5585 Fax: 248-299-3846 Email: sales@parsonadhesives.com

			© Copyright. Parson Adhesives, Inc. All rights reserved.</p>
		</div>

		<div class="footer-images">
			<img src="../images/chromalok-footer-banner.png">
		</div>

		<div class="inquiry">
			<p>For Product inquiries Contact:<h1>(0265)-2908751</h1> <h2><font color="red">sales@parsonadhesives.com</font></h2></p>
		</div>
	</div>

</body>
</html>