<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
<head>
	<title>Parson Adhesives Homepage</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<br>
			<img src="../images/logo.png" class="image"> 
			<li>
				
				<a href="homepage.html">Home</a>
				<a href="profile.html">Profile</a>
				<a href="applications.html">Applications</a>
				<a href="adhesives.html">Adhesive</a>
				<a href="careers.html">Careers</a>
				<a href="contactus.html">Contact Us</a>
			</li>
		</ul>
	</div>
	<br><br>
	<div class="container">
		<table>
			<tr>
				<td>
					<table style="margin-left: 20px;">
						<tr>
							<td><img src="../images/icon-sonlok.jpg"></td>
							<td style="background-color: #ccc;"><a href="#" style="text-decoration: none;color: coral;font-family: sans-serif;">SONLOK <img src="../images/copyright.jpg" height="15" width="15"><br>High Performance Anaerobic Adheives</a></td>
						</tr>
					</table>
				</td>
				<td>
					<table style="margin-left: 20px;">
					
						<tr>
							<td><img src="../images/icon-parlite.jpg"></td>
							<td style="background-color: #ccc;width: 240px"><a href="#" style="text-decoration: none;color: coral;font-family: sans-serif;">PARLITE <img src="../images/copyright.jpg" height="15" width="15"><br>UV Curable Devices</a></td>
						</tr>
						
					</table>
				</td>
				<td>
					<table style="margin-left: 20px;">
						<tr>
							<td><img src="../images/icon-partite.jpg"></td>
							<td style="background-color: #ccc;width: 240px"><a href="#" style="text-decoration: none;color: coral;font-family: sans-serif;">PARTITE <img src="../images/copyright.jpg" height="15" width="15"><br>Adhesives for Composite and Metal Bonding </a></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>
					<div class="sonlok">
						<ul>
							<li>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">SONLOK <img src="../images/copyright.jpg" height="15" width="15"> Retaining Compounds</a> <br>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">SONLOK <img src="../images/copyright.jpg" height="15" width="15"> Thread Lockers</a> <br>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">SONLOK <img src="../images/copyright.jpg" height="15" width="15"> Gasketing Compounds</a> <br>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">SONLOK <img src="../images/copyright.jpg" height="15" width="15"> Thread Sealant</a> <br>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">SONLOK <img src="../images/copyright.jpg" height="15" width="15"> Pre-Applied ThreadLockers Adhesive</a> <br>
 								<img src="../images/arrow.png" height="10" width="10"><a href="#">SONLOK <img src="../images/copyright.jpg" height="15" width="15"> Pipe Sealants</a> <br>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">SONLOK <img src="../images/copyright.jpg" height="15" width="15"> High Temperature Resistance Anaerobic Adhesives</a>
							</li>

						</ul>
					</div>

				</td>
				<td>
					<div class="parlite">
			
						<ul>
							<li>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">PARLITE <img src="../images/copyright.jpg" height="15" width="15">Glass Bonding Adhesives</a><br>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">PARLITE <img src="../images/copyright.jpg" height="15" width="15">UV Adhesives for Plastic Bonding</a><br>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">PARLITE <img src="../images/copyright.jpg" height="15" width="15">UV Adhesives for Optical Assembly</a><br>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">PARLITE <img src="../images/copyright.jpg" height="15" width="15">UV Resins for Medical Devices</a><br>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">PARLITE <img src="../images/copyright.jpg" height="15" width="15">UV Glue and UV Adhesive for Electronic Assembly</a><br>
							</li>
						</ul>
					</div>
				</td>
				<td>
					<div class="Partite">
						<ul>
							<li>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">PARTITE <img src="../images/copyright.jpg" height="15" width="15">Acrylic Adhesives No-mix Structural Adhesive System</a><br>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">PARTITE <img src="../images/copyright.jpg" height="15" width="15">Methacrylate and Methacrylic Adhesive 2-part Adhesive System</a><br>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">PARTITE <img src="../images/copyright.jpg" height="15" width="15">Activators & Primers</a><br>
								<img src="../images/arrow.png" height="10" width="10"><a href="#">PARTITE <img src="../images/copyright.jpg" height="15" width="15">Acrylic Adhesives No-mix Structural Adhesive System</a><br>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<table style="margin-left: 20px;">
						<tr>
							<td>
								<img src="../images/icon-parfix.jpg" class="fix">
							</td>
							<td style="background-color: #ccc;width: 280px;">
								<a href="#" style="text-decoration: none;color: coral;font-family: sans-serif;">PARFIX <img src="../images/tm.png" height="15" width="15"><br>Cyanoacrylate Adhesives</a>
							</td>
						</tr>
					</table>
					
				</td>
				<td>
					<table style="margin-left: 20px;">
						<tr>
							<td>
								<img src="../images/icon-parbond.jpg" class="epoxy">
							</td>
							<td style="background-color: #ccc;width: 240px;">
								<a href="#" style="text-decoration: none;color: coral;font-family: sans-serif;">PARBOND <img src="../images/copyright.jpg" height="15" width="15"><br>Epoxy Adhesives</a>
							</td>
						</tr>
					</table>
				</td>
				<td>
					<table style="margin-left: 20px;">
						<tr>
							<td>
								<img src="../images/icon-parbond-polyurethane.jpg" class="polyurethane">
							</td>
							<td style="background-color: #ccc;width: 240px;">
								<a href="#" style="text-decoration: none;color: coral;font-family: sans-serif;">PARBOND <img src="../images/copyright.jpg" height="15" width="15"><br>Polyeurthane Adhesives</a>
							</td>
						</tr>
					</table>
					
				</td>
			</tr>
			<tr>
				
			</tr>
			<tr>
				<td>
					<div class="parfix">
					<center><img src="../images/arrow.png" height="10" width="10"><a href="#" >PARFIX <img src="../images/tm.png" height="15" width="15">Parfix glues or Cyanoacrylate Adhesives</a></center></div>
				</td>
				<td>
					<div class="parbond">
					<center><img src="../images/arrow.png" height="10" width="10"><a href="#" >PARBOND <img src="../images/copyright.jpg" height="15" width="15">Industrial Adhesives</a></center></div>
				</td>
				<td>
					<div class="parbond-polyurethane">
					<center><img src="../images/arrow.png" height="10" width="10"><a href="#" >PARBOND <img src="../images/copyright.jpg" height="15" width="15"> Adhesives for automative-after-market</a></center></div>
				</td>
			</tr>
		</table>
		
	</div>
	
	<br>
	<div class="certifications">
		<table cellpadding="25">
			<tr>
				<td><img src="../images/dvgw-logo.gif"><br>DVGW Certtificate</td>
				<td><img src="../images/logo-wras.gif"><br>WRAS Approved</td>
				<td><img src="../images/ul-logo.gif"><br>UL Approved</td>
				<td><img src="../images/iso-logo.gif"><br>ISO 9001 Approved</td>
				<td><img src="../images/abs-logo.gif"><br>ABS Approved</td>
				<td class="qualities">
					<p><font size="5">Why Parson?</font><br><img src="../images/arrow.png" height="10" width="10"> Strict QC <br><img src="../images/arrow.png" height="10" width="10"> ISO 9000:2008 Certified <br><img src="../images/arrow.png" height="10" width="10"> Meets Military Specifications <br> <img src="../images/arrow.png" height="10" width="10"> World Class Manufacturing Facility</p>
				</td>
			</tr>
		</table>
		
		
	</div>
	<hr style="background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);height: 5px;width: 100%;margin-bottom: 0px;">
	<div class="container2">
		<div class="footer">
		 	<p>Parson Adhesives, Inc.
			3345 Auburn Road, Suite 107, Rochester, MI 48309 USA
			Phone: 248-299-5585 Fax: 248-299-3846 Email: sales@parsonadhesives.com

			© Copyright. Parson Adhesives, Inc. All rights reserved.</p>
		</div>

		<div class="footer-images">
			<img src="../images/chromalok-footer-banner.png">
		</div>

		<div class="inquiry">
			<p>For Product inquiries Contact:<h1>(0265)-2908751</h1> <h2><font color="red">sales@parsonadhesives.com</font></h2></p>
		</div>
	</div>
</body>
</html>