<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
<head>
	<title>Profile of Parson Adhesives</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="navbar">
		<ul>
			<br>
			<img src="../images/logo.png" class="image"> 
			<li>
				<a href="homepage.html">Home</a>
				<a href="profile.html">Profile</a>
				<a href="applications.html">Applications</a>
				<a href="adhesives.html">Adhesive</a>
				<a href="careers.html">Careers</a>
				<a href="contactus.html">Contact Us</a>
			</li>
		</ul>
	</div>
	<h1 style="font-family: sans-serif;color: blue"><font size="5">ABOUT PARSON ADHESIVES</font></h1>
	<div class="profile-content">
		
		<p> Parson Adhesives Inc. is a leading manufacturer of wide range of industrial and engineering adhesives for variety of assembly and MRO applications. Parson has more than 2,500 customers in 52 different countries around the world. Parson has two major joint ventures in India and China. We produce all of our products in Evansville, Indiana only and ship bulk products to India and China. We package our products in this 2 location and distribute them to local companies. Parson is a 100% US based company.

		Parson is an innovative company with an excellent track record in development of technologically advanced adhesives for wide variety of assembly application in many industries such as automotive, marine, general assembly, electronics, medical, etc. Parson is dedicated to innovation, quality and technical solutions, supported by highly qualified employees and owners.

		Parson Adhesives is committed to providing customers with the highest quality products possible through total quality management in every aspect of its operations. Quality and customer focus have always been priority at Parson. </p>

		<table>
			<tr>
				<td><a href="#" style="color: red;text-decoration: none;">SONLOK <img src="../images/copyright.jpg" height="15" width="15"><br>High Performance Anaerobic Adhesives</a></td>
				<td><a href="#" style="color: red;text-decoration: none;">PARTITE <img src="../images/copyright.jpg" height="15" width="15"><br>Adhesives for Composite & Metal Bonding</a></td>
			</tr>

			<tr>
				
				<td><a href="#" style="color: red;text-decoration: none;">PARLITE <img src="../images/copyright.jpg" height="15" width="15"><br>UltraViolet Curable Adhesives</a></td>
				<td><a href="#" style="color: red;text-decoration: none;">PARFIX <img src="../images/tm.png" height="15" width="15"><br>Cyanoacrylate Adhesives</a></td>

			</tr>
			<tr>
				<td><a href="#" style="color: red;text-decoration: none;">PARBOND <img src="../images/copyright.jpg" height="15" width="15"><br>Epoxy Adhesives</a></td>
				<td><a href="#" style="color: red;text-decoration: none;">PARBOND <img src="../images/copyright.jpg" height="15" width="15"><br>Polyeurthane Adhesives</a></td>
			</tr>
				
			<tr>
				<td><a href="#" style="color: red;text-decoration: none;">PARFIX <img src="../images/copyright.jpg" height="15" width="15"><br>Eyelash Adhesives</a></td>
			</tr>
		</table>
	</div>
	<br>
	<hr style="background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);height: 5px;width: 100%;margin-bottom: 0px;">
	<div class="container2">
			
		<div class="footer">
		 	<p>Parson Adhesives, Inc.
			3345 Auburn Road, Suite 107, Rochester, MI 48309 USA
			Phone: 248-299-5585 Fax: 248-299-3846 Email: sales@parsonadhesives.com

			© Copyright. Parson Adhesives, Inc. All rights reserved.</p>
		</div>

		<div class="footer-images">
			<img src="../images/chromalok-footer-banner.png">
		</div>

		<div class="inquiry">
			<p>For Product inquiries Contact:<h1>(0265)-2908751</h1> <h2><font color="red">sales@parsonadhesives.com</font></h2></p>
		</div>
	</div>
</body>
</html>